$text-color: #fff;
$border-radius: 0;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$padding: 5px;
$sidebar-padding: $padding;
$main-nav-width: 64px;
$main-nav-padding: $padding;
